.message {
    max-width: 70%;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    line-height: 1.5;
    font-size: 18px;
}

.user-message {
    background: #00f7ff;
    color: black;
    margin-left: auto;
}

.ai-message {
    background: #1e2a44;
    color: white;
    margin-right: auto;
}

#chat-box {
    padding: 20px;
    overflow-y: auto;
    height: 75vh;
    scroll-behavior: smooth;
}
